@import "./variables.css";
@import "./reset.css";

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  color: var(--light);
}

h2 {
  color: var(--primary);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
